.fullpage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.fullpage .center {
  align-self: center;
  justify-self: center;
  font-size: 3em;
  margin-top: 5%;
}
.nav {
  height: 100%;
  width: 100%;
  background-color: #003A3B;
  color: #FA5D00;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.nav .links {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  margin: 0;
}
.nav .links a {
  color: #19FBFF;
  text-decoration: none;
  margin-right: 1em;
  padding: 1em;
  background-color: #194e4f;
}
.nav .links a:hover {
  background-color: #336162;
  color: #5efcff;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
}
.main-container {
  margin-top: 10vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}
.contacts {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.contacts i {
  color: black;
  transition: 0.2s;
  border-radius: 50%;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.contacts i:hover {
  color: #1f1f1f;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .contacts {
    width: 90%;
  }
}
@media only screen and (min-width: 961px) {
  .contacts {
    flex-direction: row;
    width: 100%;
  }
}
.footer {
  text-align: center;
  font-size: 1.2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #19FBFF;
}
.cards {
  display: grid;
  grid-template-columns: 1fr ;
  grid-row-gap: 1em;
  grid-column-gap: 10vw;
  justify-content: center;
  align-content: center;
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 961px) {
  .cards {
    flex-direction: row;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 10px;
  padding-right: 0;
  padding-left: 0;
}
.card h3,
.card p {
  padding-right: 0;
  padding-left: 0;
}
#contact {
  background: linear-gradient(90deg, #00ABAD, #19FBFF, #00ABAD);
}
#contact {
  color: black;
}
#welcome-section {
  background: linear-gradient(90deg, #00ABAD, #19FBFF, #00ABAD);
}
* {
  /*outline: gray solid 1px;*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
