body, html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
}
.content-wrapper{
    margin-top: 10vh;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 40%;
    padding-right: 1em;
}
.main-container{
    display: flex;
    flex-direction: column;
}
#video{
    width: 100%;
    height: 50%;

}

.card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 95%;
}
.card{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
}
.card-heading h3{
    font-size: 1.6em;
    font-weight: 400;
}
.fullpage{
    height: 100vh;
    display: flex;
    justify-content:space-evenly; 
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.heading.fullpage p, h3{
    font-size: 1.8em;
    text-align: center;
}
.heading.fullpage h3{
    font-size: 2em;
    font-weight: 800;
}
.heading.fullpage ul{
    padding: 1em;
}
.heading.fullpage li{
    padding: 1em;
}
.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.purchase{
    justify-self: flex-end;
    align-self: flex-end;
}
@media only screen and (min-width: 401px) and (max-width: 960px){

}
@media only screen and (min-width: 961px){
    #video{
        width: 50%;
        height: 50%;
    }
    .links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 40%;
    }
    .footer{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .footer-form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-container{
        flex-direction: row;
        justify-content: none;
        align-content: none;
    }
    .card{
        width: 20vw;
        padding: 0.8em;
    }
}
