*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}
img.logo{
    width: 70px;
    height: 88px;
    /* to get height multiply width by 620/493 (original res) to get ratio */
}
.card{
    border: 1px solid gray;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 0.28s;
}
.card:hover{
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}
#about{
    background: linear-gradient(
        turquoise,
        tomato
    );
}
#demo{
    background: linear-gradient(
        0deg,
        rgb(219, 252, 248),
        rgb(255, 230, 226)
    );
}
#features{
    background: linear-gradient(
        180deg,
        turquoise,
        tomato
    );
}
#purchase{
    background: linear-gradient(
        90deg,
        rgb(204, 255, 250),
        rgb(255, 214, 207)
    );
}
.footer{
    background-color: tomato;
}