/*Awesome color combo
    background-color: rgb(124, 60, 49);
    background-color: tomato;
    */
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}
.main-section header{
    font-size: 2em;
    font-weight: 600;
}
.main-section header::after{
    content: " ";
    display: block;
    border:1px solid #d0d0d0;
    border-radius:4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.header{
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    color:rgb(255, 255, 238);
    background-color: rgba(17, 17, 17, 0.685);
}
.navigation{
    background-color: rgb(247, 247, 247);
}
.content{
    background-color: rgb(252, 252, 252);
}
code{
    text-align: left;
    display: block;
    word-wrap: normal;
    white-space: pre-line;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.footer{
    text-align: center;
    background-color: rgba(17, 17, 17, 0.863);
    color: rgb(252, 252, 244);
    font-size: 1.5em;
    font-weight: 400;
    padding: 1em;
}
.footer a{
    color:rgb(156, 156, 156);
}
.footer a:hover{
    color:rgb(33, 235, 250);
}
.footer a:visited{
    color: rgb(214, 2, 214);
}